html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.content {
    height: 100%;
}

header {
    height: 60px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #cbcccc;
    position: relative;
}

header div {
    display: inline-block;
}

.return {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.return:hover {
    background-color: #cbcccc;
}

.return a {
    background-image: url("../images/sprite.png");
    background-position: center;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.filename {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translate(0, -50%);
}

.filename input {
    height: 20px;
    width: 200px;
}

.btn_box {
    right: 70px;
    top: 50%;
    height: 30px;
    transform: translate(0, -50%);
    position: absolute;
}

.btn_box a {
    position: relative;
    margin-left: 10px;
}

.download div, .publish div, .to-myfile div  {
    border: 1px solid gray;
    box-shadow: 1px 1px 3px gray;
    border-radius: 3px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    font-size: 10px;
    background-color: #ececec;
}

.download div, .publish div {
    width: 50px;
}

.to-myfile div {
    background-color: rgb(67, 134, 245);
    width: 80px;
    color: white
}

section {
    position: relative;
    height: 100%;
}

.con_left {
    width: 100px;
    height: calc(100% - 60px);
    overflow: hidden;
    overflow-y: auto;
    background-color: #f4f4f4;
    border-right: 1px solid #000000;
    position: absolute;
}

.title {
    text-indent: 10px;
    line-height: 30px;
    font-weight: bold;
    font-size: 10px;
    height: 30px;
}

.shpbtn_field {
    border-bottom: 2px solid #cbcccc;
    border-top: 2px solid #cbcccc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.shape_btn {
    width: 70px;
    height: 40px;
    margin: 10px auto;
    border: 1px solid #cbcccc;
    box-shadow: gray 0 0 2px;
    display: block;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

#rect {
    background-image: url('../images/rectangle.png');
}

#triangle {
    background-image: url('../images/triangle.png');
}

#circle {
    background-image: url('../images/circle.png');
}

#square {
    background-image: url('../images/square.png');
}

.shape_btn:hover {
    cursor: pointer;
}

.con_right {
    margin-left: 100px;
    height: calc(100% - 60px);
    position: relative;
    overflow: scroll;
}

.con_right .canvas_layout {
    background-image: url("../images/canvas_bg.jpg");
    position: relative;
    width: 1980px;
    height: 1140px;
}

#back-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

#wrapper {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}

.rotate {
    cursor: grab;
    top: 0;
    left: 0;
}

.scale {
    cursor: nwse-resize;
    right: 0;
    bottom: 0;
}

.canvas_wrapper {
    cursor: move;
}

.control_frame {
    width: 10px;
    height: 10px;
    position: absolute;
    border: 1px solid black;
    background-color: white;
    visibility: hidden;
}
